@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
	var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
	rendering.Class = "sc-AchievementDashboard";
	rendering.Requires.Script("client", "AchievementDashboard.js");

	var htmlAttributes = rendering.HtmlAttributes;
}

<div @htmlAttributes>
	<link href="/sitecore/shell/themes/standard/default/Grid.css" rel="stylesheet">
	<div>
		<div class="sc-listcontrol-body" style="margin-top:30px">
			<table class="sc-table table">
				<tbody>
					<tr class="HeadingRow"><td class="HeadingCell" colspan="1"></td><td class="HeadingCell" colspan="2"></td><td class="HeadingCell" colspan="3"></td></tr>
					<!-- ko foreach: output -->
					<tr class="Row">
						<td colspan="1" class="DataCell">
							<div data-bind="html:Image"></div>
						</td>
						<td colspan="2" class="DataCell">
							<div data-bind="text:Name"></div>
						</td>
						<td colspan="3" class="DataCell">
							<div data-bind="text:Description"></div>
						</td>
					</tr>
					<!-- /ko -->
				</tbody>
			</table>
		</div>
	</div>
</div>