<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <startTest>
                <processor patch:after="*[@type='Sitecore.ContentTesting.Pipelines.StartTest.DeployTest, Sitecore.ContentTesting']" type="Hackathon.Pipelines.StartTestAchievement, Hackathon" />
            </startTest>
        </pipelines>
    </sitecore>
</configuration>
