<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <startTest>
                <!--<processor patch:after="*[@type='Sitecore.ContentTesting.Pipelines.StartTest.DeployTest, Sitecore.ContentTesting']" type="Hackathon.Pipelines.StartTestAchievement, Hackathon" />-->
                <processor patch:before="*[@type='Sitecore.ContentTesting.Pipelines.StartTest.DeployPageTestDependencies, Sitecore.ContentTesting']" type="Hackathon.Pipelines.StartTestAchievement, Hackathon" />
            </startTest>
        </pipelines>
            <processors>
                <saveUI>
                    <processor type="Hackathon.Pipelines.SaveItemAchievements, Hackathon" patch:before="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" />
                </saveUI>
            </processors> 
    </sitecore>
</configuration>
